.starting-animations{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .cube{

    //width: 150px;
    //height: 150px;
    //border-radius: 50%;
    //background: #027eed;
    animation: anim 2s ease-in-out 1s 1 ;

    @keyframes anim{
      0% {
        width: 0;
        height: 0;
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 0 20px;
        float: left;
        background: red;
        border-radius: 70% 100% / 30% 100%;
        transform: rotateZ(100deg);
        //transform: translateY(0px);
      }
      0% {
        //transform: translateY(150px);
      }
      100% {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 0 20px;
        float: left;
        background: gold;
        border-radius: 70% 100% / 30% 100%;
        transform: rotateZ(100deg);
      }
    }


  }
}